{% extends 'layout.html' %} {% block content %}

<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Cursos</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Listado Cursos</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
                
              <th>Id</th>
              <th>Nombre</th>
              <th>Ciclo</th>
              <th>Profesor</th>
              <th>Aulas</th>
            </tr>
          </thead>
          <tbody>
            <!-- LISTADO DE cursoES -->
            {%for curso in cursos %}
            <tr>
              <td>{{curso.id}}</td>
              <td>{{curso.nombre}}</td>
              <td>{{curso.ciclo}}</td>
              <td>{{curso.profesor}}</td>
              <td>{{curso.aulas}}</td>
              <td>
                <form action="" method="POST">
                  <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
              </td>
            </tr>
            {% endfor %}

            <!----------------------------->
          </tbody>
        </table>
      </div>
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#nuevoUsuario2"
      >
        Nuevo curso
      </button>
    </button>
    <a href="/" class="btn btn-primary">Ir a la página principal</a>
    </div>
  </div>
</div>
{% endblock %}
